doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF 
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p 
            | Kembali ke Daftar Tulisan
          h1 A Beautiful Mind 
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;11/08/2010
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          p Buku setebal 625 halaman ini menceritakan kisah hidup John Forbes Nash, Jr., salah satu genius matematika Amerika Serikat yang paling menonjol di antara teman-teman segenerasinya. Pada usia 20 tahun, ia adalah seorang mahasiswa pascasarjana yang cemerlang, bandel, menyebalkan sekaligus sangat eksentrik di lingkungan Princeton University ketika ia menemukan beberapa prinsip matematika – yang kini disebut Kesetimbangan Nash – yang sangat penting untuk teori permainan atau game theory.
          p Pada usia 30 tahun, tatkala sedang berada di puncak karirnya yang cemerlang serta tidak lama setelah ia menikah dengan seorang fisikawati yang cantik, Nash mendadak menderita mental breakdown yang sangat merusak dan belakangan didiagnosis menderita skizofrenia. Di bawah terpaan khayal-khayal yang menyiksa, dan membuatnya tidak berdaya, serta berulang kali harus meringkuk di balik tembok rumah sakit jiwa, Nash terpaksa menghabiskan tiga dasawarsa berikutnya sebagai sosok pendiam yang hanya sesekali muncul bak hantu di lingkungan kampus Princeton University.
          p Ketika usianya mencapai 60 tahun, kesehatannya semakin memburuk dan keberadaannya praktis dilupakan, tiba-tiba dua keajaiban terjadi. Yang pertama adalah kesembuhan yang hampir tak disangka-sangka dari skizofrenia dan yang kedua, adalah keputusan Panitia Hadiah Nobel untuk menghargai prestasi gemilangnya di masa lampau. Dua mukjizat yang mengembalikan dunia kepadanya.
          p Prinsip  temuan Nash ini kini diaplikasikan di bidang-bidang seperti penerapan strategi militer dan  prediksi kondisi perekonomian, termasuk pengaplikasiannya dalam salah satu bidang ekonomi yang rumit seperti ekonometrik. 
          p 


        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Inspirasi Tulisan
            br
            | Buku karangan Sylvia Nasar ini menjadi inspirasi film produksi Dreamworks dan Universal Pictures yang dibintangi oleh Russel Crowe. Kutipan yang paling berkesan dari 159 halaman pertama yang sudah saya baca adalah paragraf berikut ini: Mengapa orang sering ingin berlama-lama menikmati frustasi atau kemalangan agar dapat menciptakan sesuatu? Sebab kemampuan kreatif untuk menciptakan sesuatu adalah pertahanan diri dan melindungi seseorang dari sakit jiwa. 
          br
         
        a(href='../index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p
          |  Kembali ke Daftar Tulisan 
          
    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;
          a(href="http://echo-man.github.io") Gema&nbsp;Buj 
          ||&nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')