doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF 
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../page2/index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p
            |  Kembali ke Daftar Tulisan
          h1 Angka Nol Muncul dari Timur 
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;03/12/2009
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          p Ketakterhinggaan dan kekosongan mengandung kekuatan yang menakutkan orang Yunani. Ketakterhinggaan ditakutkan karena membuat semua gerak menjadi tidak mungkin, sedangkan kekosongan membuat pandangan mereka tentang alam semesta hancur berkeping-keping. Dengan menolak angka nol, filsuf Yunani memberi kekuatan bertahan selama dua milenium pada filsafat alam semesta mereka.
          p Doktrin Phytagoras pun menjadi pusat filsafat Barat. Seluruh alam raya diatur oleh perbandingan dan bentuk : Planet-planet bergerak mengalunkan musik surgawi di dalam ruang berbentuk bola. Namun apakah yang berada di luar bola semesta ini? Apakah ada ruang-ruang lain yang lebih besar dari bola semesta ini? Atau apakah titik terluar pada bola ini merupakan batas akhir alam semesta?
          p Aristoteles dan para filsuf sesudahnya berkeras bahwa tak ada ketakterhinggaan yang melingkupi bola-bola itu. Dengan mengadopsi ajaran ini, Barat tak memberi ruang bagi ketakberhinggaan. Mereka benar-benar menolaknya. Terima kasih untuk Zeno dari Elea, seorang filsuf yang dikenal paling menjengkelkan di Barat karena berhasil mengacaukan dasar-dasar pemikiran Barat dengan menggunakan ketakberhinggaan.
          p Zeno dilahirkan sekitar 490 SM, pada permulaan perang Persia-sebuah konflik besar antara Barat dan Timur. Meski Yunani berhasil mengalahkan Persia, namun filsafatnya takkan mampu mengalahkan Zeno. Zeno memiliki sebuah paradoks, teka-teki yang tak dapat dipecahkan oleh orang Yunani. Inilah teka-tekinya itu :
          p Achilles sang pahlawan perang Troya, yang terkenal sangat gesit, takkan pernah bisa menyusul kura-kura lamban yang melakukan start lebih dulu! Untuk memperjelas persoalan ini, mari kita gunakan angka-angka. Bayangkan Achilles berlari dengan kecepatan satu kaki per detik, sedangkan kura-kura tersebut berlari dengan kecepatan separuhnya (setengah kaki per detik). Bayangkan juga kura-kura tersebut start satu kaki lebih awal dari Achilles.
          p Achilles berlari, dan hanya dalam beberapa detik ia telah sampai di tempat kura-kura sebelumnya. Tetapi pada saat Achilles mencapai titik tersebut, kura-kura yang juga berlari telah maju sejauh setengah kaki. No problemo, kata Achilles. Achilles lebih cepat hingga dalam waktu setengah detik ia bisa berlari sejauh setengah kaki. Namun, sekali lagi, pada saat itu si kura-kura juga sudah bergerak ke depan sejauh seperempat kaki. Kemudian dalam sekejap – seperempat detik – Achilles menempuh jarak tertentu. Namun lagi-lagi, si kura-kura telah maju seperdelapan kaki. Achilles terus berlari dan berlari namun kura-kura selalu berada di depannya, tak peduli seberapa dekat jarak antara Achilles dan kura-kura.
          p Semua orang tahu bahwa di dunia nyata, Achilles pasti bisa berlari kencang melewati si kura-kura, tetapi argumen yang dibuat oleh Zeno membuktikan bahwa Achilles takkan pernah bisa menyusul kura-kura. Para filsuf zaman itu tak ada yang bisa menyangkal paradoks ini. Meski mereka mengetahui bahwa kesimpulan yang dibuat salah, namun mereka tak bisa menemukan kesalahan dalam pembuktian matematis yang dibuatnya. Senjata utama para filsuf adalah logika, tapi tampaknya deduksi logika tak mampu menghadapi argumen Zeno. Kelihatannya setiap langkah sudah benar, dan jika semuanya sudah benar, bagaimana mungkin kesimpulannya bisa salah?
          p Orang-orang Yunani dipusingkan oleh masalah-masalah ini, tetapi akhirnya mereka menemukan sumber permasalahannya : ketakterhinggaan. Ketakterhinggaan inilah inti paradoks Zeno. Zeno mengambil gerakan yang berkesinambungan dan kemudian membaginya menjadi langkah-langkah yang lebih kecil yang tak terhingga. Karena langkahnya tak terhingga, orang-orang Yunani berasumsi bahwa adu lari tersebut tak akan pernah selesai dalam waktu yang bisa ditentukan,begitu pikir mereka.
          p Kita memiliki angka nol sedangkan orang-orang Yunani jaman itu tidak. Inilah kunci untuk memecahkan teka-teki Zeno. Terkadang boleh menambahkan sesuatu yang tak terhingga untuk mendapatkan hasil yang terhingga, dengan syarat sesuatu yang ditambahkan tersebut harus mendekati nol. Inilah inti persoalan Achilles dan kura-kura. Ketika menambahkan jarak lari Achilles, anda memulainya dari angka 1, kemudian menambahkan ½, kemudian ¼, kemudian 1/8, 1/16 dan seterusnya, dengan faktor yang semakin mengecil, semakin kecil dan semakin mendekati angka nol. Setiap faktor semakin mendekati angka nol. Namun karena orang-orang Yunani menolak angka nol, mereka tak menyadari bahwa perjalanan tersebut bisa berakhir. Bagi mereka bilangan ½, ¼ , 1/8, 1/16 dan seterusnya tak mendekati apapun karena tujuan akhirnya tidak pernah ada. Mereka hanya melihat bahwa faktor-faktor tersebut semakin mengecil dan berliku-liku menjauhi dunia angka-angka.
          p Sebenarnya tak sulit jika mengetahui bahwa bilangan-bilangan ½, ¼ , 1/8, 1/16 dan seterusnya memiliki limit (batas) yaitu mendekati angka nol yang menjadi batas mereka.  Sehingga limit (batas) hasil penjumlahan 1+ ½ + ¼ + 1/8 + 1/16 + dst hingga tak terhingga = 2! Artinya, pada kondisi senyatanya, hanya dalam 2 satuan waktu sewaktu Achillles melangkah (kita asumsikan satuan waktunya adalah detik), Achilles sudah melampaui  kura-kura tersebut. Batas hasil penjumlahan diatas adalah 2 (dianalogikan secara grafis oleh dua keping koin diatas. Titian keledai grafis ini membantu sekali, bukan?
          p Orang Yunani tak mampu melakukan trik matematika semacam ini karena tidak mempercayai angka nol. Karena tak memiliki konsep angka nol, mereka tak memiliki konsep batas. Akibatnya ketakterhinggaan pun tak bisa dipecahkan.
          p Hingga saat ini, melalui seluruh sejarahnya, diluar penolakan dan pengabaiannya, angka nol selalu berhasil mengalahkan lawan-lawannya. Kemanusiaan tak akan pernah bisa memaksa angka nol untuk menyesuaikan diri dengan filsafatnya. Sebaliknya, angka nol mampu mengubah pandangan umat manusia terhadap alam semesta.

        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Inspirasi Tulisan
            br
            | Dalam pola evolusi matematika, konsep baru tidak serta merta diterima. Selain konsep angka nol, awal-awal kemunculan konsep angka negatif dan bilangan kompleks pun banyak yang meragukan. Buku Biografi Angka Nol karangan Charles Seife ini memiliki bobot pembahasan yang unik, karena narasi yang digunakan adalah prosa yang digunakan untuk menjelaskan konsep matematika. Menarik!
          br
         
        a(href='../page2/index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p 
          | Kembali ke Daftar Tulisan 
          
    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;
          a(href="http://echo-man.github.io") Gema&nbsp;Buj 
          ||&nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')