doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../page3/index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p 
            | Kembali ke Daftar Tulisan
          h1 Belajar Atom dan Molekul Dengan Kalzium
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;30/11/2009
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          p Salah satu ilmu pelajaran eksakta yang menantang adalah kimia atom dan molekul. Jaman dulu, guru (bahkan guru di sekolah yang katanya favorit pun) menerangkan konsep ikatan atom, molekul, valensi, spektrum dan sebagainya dengan media seadanya: kapur dan papan tulis. Demikian pula dengan konsep pengajarannya. Kasarnya boleh dibilang kurang bermutu. Jika berbicara tentang ikatan molekul, seharusnya guru-guru pengajar membawa peraga berupa lilin (malam) yang diberi tusuk gigi atau batang lidi. Masalahnya kita berbicara tentang konsep dimensi ikatan yang tiga dimensi. Apa jadinya bila pengajaran konsep ruang hanya bermodalkan gambar buruk rupa (corat-coret) di papan tulis? Murid bakal kelimpungan, membenci kimia dan batal jadi penerusnya Mendeleiev. Padahal kimia seharusnya sangat menyenangkan. Seharusnya..
          p Untunglah saat ini, jalur untuk belajar terbuka lebih lebar. Sejak berkembangnya konsep open-source, para pengembang software-software khusus untuk pasar niche mulai bermunculan. Termasuk soal pendidikan umumnya, dan bidang kimia pada khususnya.
          p Carsten Nihaus adalah kreator yang berada dibalik kemunculan Kalzium, sebuah piranti lunak open source (berbasis X Window KDE namun juga kompatibel untuk X Window GNOME) untuk belajar kimia yang sangat menyenangkan dan intuitif. Dijamin anak sekolahan bakal dapat nilai yahuud untuk pelajaran kimia atom dan molekul dan mereka ga akan takut menghadapi UNAS, apalagi repot-repot memprotesnya (demo mulu, kapan belajarnya?)

        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Inspirasi Tulisan
            br
            | Seandainya pada jaman SMA dulu internet sudah berkembang pesat seperti sekarang, dan harga laptop pun cukup terjangkau pada masa itu, mungkin impresi saya tentang pelajaran-pelajaran eksak akan sedikit berkembang daripada impresi saya dahulu. Kalzium buatan Carsten Nihaus bersifat intuitif. Selain menggolongkan unsur2 tabel periodik berdasarkan golongannya, software ini menawarkan titian keledai grafis yang menarik, misalnya Lithium yang diberi gambar baterai dan gambar lain untuk unsur lainnya. Selamat belajar, para cendikiawan muda!
          br
         
        a(href='../page3/index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p
          |  Kembali ke Daftar Tulisan 
          
    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;
          a(href="http://echo-man.github.io") Gema&nbsp;Buj 
          ||&nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')