doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF 
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../page2/index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p 
            | Kembali ke Daftar Tulisan
          h1 The Cathedral and The Bazaar 
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;05/12/2009
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          p Model pengembangan suatu sistem bisa mengambil pendekatan salah satu model, yakni model Cathedral atau model Bazaar. Ada istilah lain untuk kedua jargon tersebut, yakni Top Down dan Bottom Up.
          p Pada model Cathedral, hanya kaum elit yang bisa mengembangkan sistem. Setelah sistem tersebut jadi, merekalah yang mempunyai hak untuk menyebarkan sistem tersebut kepada para pengguna sistem. Sedangkan pada model Bazaar, orang yang merasa mampu mengembangkan sistem akan diberikan kesempatan untuk menyajikan sistem rancangannya ke khalayak ramai dan secara terbuka menerima saran/feedback bila ada bug atau kekurangan. Hasil revisinya pun bisa disajikan ke khalayak ramai kembali. Pada model pertama (Cathedral), proses peer review terjadi di dalam khalayak elit (para pengembang sistem saja), sedangkan pada proses kedua, peer review terjadi lebih luas, baik dari kalangan pengguna sistem maupun para peer reviewer (pemberi feedback tadi).
          p Model Cathedral biasanya lebih lambat dalam mengikuti keinginan pemakai, atau terkadang tidak cocok karena terjadinya ketidaksesuaian model mental dan model konseptual. Di samping itu hanya mereka yang diterima oleh kalangan elit sajalah yang berhak merancang, memperbaiki dan mereview sistem.
          p Model Bazaarlah yang memungkinkan menjadikan suatu sistem yang lebih cepat dan lebih terbuka, karena semua pihak (pengguna maupun perancang) diletakkan pada tatanan yang sejajar serta tidak adanya suatu persyaratan penerimaan dari tim elit. Yang ada hanyalah penyesuaian (berdasarkan persyaratan yang dirasakan oleh mereka yang ingin terlibat).
          p Semua lapisan masyarakat diharapkan dapat mengambil manfaat dari semangat Bazaar tersebut, dengan tidak melulu menjadi konsumen ataupun melakukan kesia-siaan penggunaan dana akibat keinginan untuk sekedar mengikuti trend teknologi yang pesat dan berubah setiap saat. Jika tetap konsumtif, takutnya kita hanya tetap berada pada tingkat “mengkonsumsi” baik itu peralatan maupun informasi. Kita semua hendaknya terlibat dalam perbaikan sistem melalui peer review maupun information sharing. Tidak muluk-muluk. Semua itu dimulai dengan diskusi sederhana tentang hal-hal kecil. Dengan penuh minat dan antusiasme.
          p Menarik menilik kembali pendapat pak Made Wiryana yang tidak secara kagum buta melihat perkembangan Teknologi Informasi dan ekspor piranti lunak (software) di India yang melaju pesat bila dibandingkan Indonesia. Tidak secara kagum buta untuk langsung ingin mencontek apa yang telah India terapkan saat ini, namun lebih dipicu oleh keingintahuan tahapan-tahapan yang dilakukan India untuk mencapai tahap kemajuan di bidang Teknologi Informasi dan piranti lunak seperti saat ini. Ternyata, semua ini tak lepas dari langkah-langkah kebijakan India sejak tahun 1960-an yakni mengembangkan pendidikan ilmu murni (Matematika dan Ilmu Alam) serta penyediaan buku-buku murah untuk para mahasiswa-mahasiswinya. Bagaimana dengan Indonesia? Konsep apakah yang dikembangkan sejak 1960-an?

        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Inspirasi Tulisan
            br
            | The Cathedral and The Bazaar ini mulanya dicetuskan oleh Eric S. Raymond, seorang penggiat komputer yang terkenal lewat tulisannya yang berjudul How to Become A Hacker. Ada tulisan-tulisan yang sangat menarik dari pak Made Wiryana tentang hakekat pengembangan suatu sistem operasi, yang berkaitan dengan konsep The Cathedral and The Bazaar. Hal ini dituangkan ke dalam buku From Germany With IT, hasil buah pikiran dan “lamunannya” setelah sempat mengenyam pendidikan di luar negeri. Lewat tahapan studi di luar negeri, pak Made berpendapat bahwa ada pilar-pilar yang mendukung kesuksesan pencapaian teknologi di negeri-negeri tersebut dan lewat tulisan-tulisannya, pak Made berusaha menjejaki bagaimana proses-proses yang dilakukan orang-orang negeri tersebut mencapai titik kesuksesannya seperti saat ini.
          br
         
        a(href='../page2/index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p
          |  Kembali ke Daftar Tulisan 
          
    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;
          a(href="http://echo-man.github.io") Gema&nbsp;Buj 
          ||&nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')