doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com')
    //link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css') 
    
  body.bground
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF  
        .header
          ul
            li
              a.extra.first(href='http://echo-man.github.io') Tentang Penulis
    
    .site.page-content
      .home
        h1 Daftar Tulisan
        ul.posts

          li
            span.post-date 30/11/2009
            a.post-link(href="") Belajar Atom dan Molekul Dengan Kalzium
            p Seandainya pada jaman SMA dulu internet sudah berkembang pesat seperti sekarang, dan harga laptop pun cukup terjangkau pada masa itu, mungkin impresi saya tentang pelajaran-pelajaran eksak akan sedikit berkembang daripada impresi saya dahulu..
              a.post-link(href="") Selengkapnya

          li
            span.post-date 31/01/2010
            a.post-link(href="") Invitation to Computer Science
            p Secara kita sadari ataupun tidak, ada dua MISKONSEPSI utama tentang Computer Science yakni: Computer Science adalah studi tentang komputer dan yang terakhir, Computer Science adalah studi tentang penggunaan piranti keras (hardware) dan piranti lunak (software). Mencuplik pendapat Michael R. Fellows dan Ian Parberry dalam tulisan mereka di Computing Research News, bahwa "Computer science is no more about computer than astronomy is about telescope, biology is about microscope, or chemistry is about glass-beakers and test tubes. Science is not about tools. It’s about how we use them and what we find out when we do"..
              a.post-link(href="") Selengkapnya

          li
            span.post-date 02/03/2009
            a.post-link(href="") Abarat
            p Peristiwanya berawal dari tempat paling membosankan di dunia : Chickentown. Kota yang dihuni oleh lebih banyak ayam daripada manusia. Di sinilah Candy Quackenbush tinggal. Dan ia bertanya-tanya, seperti apakah masa depannya nanti. Jawabannya datang secara tak terduga. Pertemuan mendadak dengan John Mischief (dia punya 7 saudara yang tinggal di tanduk-tanduk di kepalanya), dan kemunculan Laut Isabella entah dari mana, membawa Candy ke sebuah dunia lain..
              a.post-link(href="") Selengkapnya

          li
            span.post-date 09/07/2008
            a.post-link(href="") Stallmanisme
            p Berbicara di Universitas Lehigh minggu kemarin, pendiri Free Software Foundation Richard Stallman mendorong audiennya untuk menjadikan open source tidak hanya prinsip dalam berkomputer, namun juga menjadikannya sebagai gaya hidup. Memakai software komersial proprietary menyebabkan "user terpecah karena kita tidak dapat menggandakannya untuk membantu tetangga kita atau tidak berdaya karena kita tidak bisa melihat isi source codenya", imbuh Stallman..
              a.post-link(href="") Selengkapnya

        .pagination
          span                        
          a(href='../index.html') Hal 1 
          a(href='../page2/index.html') Hal 2 
          em Hal 3 
          //next arrow refer to page3
          //a(href='page3/index.html') Next &raquo;

    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;Gema&nbsp;Buj | &nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')