doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF 
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../page2/index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p 
            | Kembali ke Daftar Tulisan
          h1 Bystander Effect – Balada Hidup di Kota Besar
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;00 Dec 20xx
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          p Psikolog Bibb Latane dan John Darley mengadakan serangkaian studi untuk memahami masalah yang mereka sebut “kecenderungan untuk menjadi penonton” atau “bystander problem“. Mereka menyandiwarakan beberapa keadaan darurat yang disesuaikan dengan berbagai situasi untuk mengetahui siapa yang akan datang menolong dan membantu. Yang mengejutkan adalah hasil temuan mereka bahwa kecenderungan orang untuk menolong orang lain ditentukan oleh berapa banyak saksi dalam suatu kejadian.
          p Dalam sebuah eksperimen, misalnya, Bibb Latane dan John Darley mengatur agar salah seorang mahasiswa mereka berpura-pura mengalami serangan epilepsi. Apabila tetangga mahasiswa itu hanya satu orang dan orang itu tidak tahu bahwa ada orang lain di sekitarnya, peluang orang itu memberikan pertolongan kepada sang “korban epilepsi” adalah sebesar 85 %. Namun, bila di sekitar “korban epilepsi” itu ada 4 orang lain yang menjadi saksi mata terjadinya serangan epilepsi, peluang si tetangga itu untuk mendatangi si mahasiswa hanyalah 31 %!
          p Dalam eksperimen lainnya, orang yang melihat ada asap mengepul dari bawah pintu akan mempunyai peluang untuk melaporkan kejadian tersebut sebanyak 75 % ketika ia sendirian dan akan tinggal berpeluang 38 % ketika dia melihat asap bersama sejumlah saksi mata lain.
          p Ketika saksi mata tidak sendirian, tanggung jawab untuk mengambil tindakan MENYEBAR. Masing-masing mengandaikan ada seseorang lain di antara mereka yang akan menolong atau menelpon. Masing-masing juga bisa mengandaikan bahwa karena tidak ada yang bertindak, suara mengerang atau kepulan asap di bawah pintu BUKANLAH MASALAH YANG SERIUS.
          p Terkadang, hal yang penting agar orang lain bersedia mengubah perilaku mereka dan memperdulikan keadaan orang-orang di sekitar mereka yang sedang mengalami musibah adalah INFORMASI YANG SESEDIKIT MUNGKIN TENTANG SITUASI YANG SESUNGGUHNYA. Biarkan nurani yang akhirnya berbicara.
          p Orang yang membuka hatinya akan memiliki kepedulian terhadap orang dan lingkungan sekitarnya yang lebih besar daripada kelihatannya dan mempunyai peluang untuk mencegah kejahatan di lingkungan mereka.

        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Inspirasi Tulisan
            br
            | Tulisan ini berawal dari sebuah bab buku karangan Malcolm Gladwell yang berjudul Tipping Point. Kasus yang paling membuat kita mengernyitkan dahi adalah kasus Kitty Genovese, yang merupakan salah satu kejadian paling memprihatinkan dalam sejarah kota New York. Kitty adalah seorang peserta kontes kecantikan yang dikejar-kejar oleh pembunuh berantai acak dan dianiaya sampai tiga kali selama lebih dari setengah jam, sebelum akhirnya dibunuh oleh pengejarnya. Yang mencengangkan adalah fakta bahwa 38 tetangganya menyaksikan kejadian itu dari jendela tempat tinggalnya masing-masing, dan tidak ada satu tetangga pun yang yang mengangkat telponnya untuk menghubungi polisi selama penganiayaan berlangsung. Ketika saksi mata tidak sendirian, tanggung jawab untuk mengambil tindakan MENYEBAR. Dalam kasus Kitty, ironisnya, kalau saja gadis itu diserang di jalanan yang tidak terlalu ramai dan seseorang yang melihatnya tahu bahwa tidak ada orang lain lagi di sekitar situ, mungkin saja sang gadis akan mendapat pertolongan dan selamat dari rencana pembunuhan.
          br
         
        a(href='../page2/index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p
          |  Kembali ke Daftar Tulisan 

    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;
          a(href="http://echo-man.github.io") Gema&nbsp;Buj 
          ||&nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')