doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p 
            | Kembali ke Daftar Tulisan
          h1 judul artikel
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;00 Dec 20xx
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          h1 Pembuka
          p Teks
          p
            strong Bold 
            | Teks
      
          p
            strong Bold 
            | Teks

        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='http://8thcolor.us4.list-manage.com/subscribe/post?u=4c699a721dc16c7e14833175a&id=87e4812b3f', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Pustaka Tulisan
            br
            | Pustaka yang disitir untuk menulis artikel ini
          br
         
        a(href='../index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p
          |  Kembali ke Daftar Tulisan 

        //.addthis_sharing_toolbox
        //#page-navigation
          .clear &nbsp;
          .left
            a(href='../../08/pullreview-shareable-private-review-and-test-coverage-integration/index.html', title='Previous Post: PullReview: Shareable Private Review and Test Coverage Integration')
              i.icon-double-angle-left
              |  PullReview: Shareable Private Review and Test Coverage Integration
          .right
          |   &#x9;
          .clear &nbsp;
          
    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;Gema&nbsp;Buj | &nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')