doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tulisan Kreatif
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='Contoh tulisan kreatif untuk idntimes.com') 
    link(rel='canonical', href='index.html')
    // Custom CSS
    link(rel='stylesheet', href='../css/main.css')
    link(rel="icon" type="image/x-icon" href="../gemicon.png")
    #navbar
      .site
        a#logo(href='')
          img(src='../tw.png', alt='Creative Writing')   
        span.tagline PORTFOLIO TULISAN KREATIF 
        .header
          ul
            li
              img.span(src="../gemicon.png")
              | 
              a.extra.first(href='http://echo-man.github.io') Info Penulis

    .site.page-content
      .post-page
        header.post-header
          a(href='../index.html', title='Kembali ke Daftar Tulisan')
            i.icon-reply
              p 
            | Kembali ke Daftar Tulisan
          h1 Green energy and clean tech. That’s smart. That’s the next bubble. 
          .meta
            i.icon-calendar
            | &nbsp;&nbsp;19/01/2011
            | &bull;
            | &#x9;
            | &#x9;&#x9;
            a(href='http://echo-man.github.io') Gema Buj
        article.post.post-content
          p Saat kedatangan investor dari China, Churchill Schwartz, investment bank tempat Jacob Moore (Shia LaBeouf) bekerja kewalahan dan hampir kehilangan investor potensial, karena ternyata proposal investasi energi yang mereka tawarkan ditolak oleh pengusaha China tersebut. Jacob Moore pun bertindak cepat. Walaupun terkesan lancang dan tidak meminta pendapat rekan-rekan setimnya, dia segera menawarkan proposal energi alternatif yang ia tekuni belakangan ini kepada investor China tersebut.
          p Menarik melihat sepak terjang Jacob Moore disini. Di film ini kita bisa melihat bahwa seorang wall street guy berusaha sekuat tenaga memperjuangkan idealismenya tentang energi alternatif Ocean Thermal Energy Conversion. Kamarnya dipenuhi oleh berbagai cetak biru dan maket-maket powerplant. Ia menyalurkan sebagian besar dana pribadi, uang hasil jerih payahnya di pasar saham Wall Street untuk membiayai pengembangan energi alternatif yang ia tekuni itu. Murni idealisme untuk menyiapkan terpenuhinya energi bagi generasi mendatang atau ada tercium bau uang disini?
          p Misalnya energi alternatif pilihannya ini berhasil, Jacob Moore adalah seorang pioner. Starter. Orang pertama yang bisa melejitkan "barang dagangan"-nya di pasar bisa memegang kendali. Ingat kah kita dengan air minum kemasan Aqua? Aqua adalah pioner. Air minum kemasan itu laris manis di pasaran. Peraturan yang muncul belakangan pun memberi payung hukum bahwa kompetitor-kompetitor Aqua, beraneka air minum kemasan yang bermunculan belakangan tidak boleh menjual harga barang-barangnya di bawah harga Aqua. Aqua yang punya nama beken dan konsumen yang loyal terhadap produknya tentunya akan memenangkan "pertarungan" ini.
          p Perkembangan konsep-konsep energi alternatif yang berkembang sekarang ini dilahirkan melalui perjalanan yang amat panjang. Laporan para ilmuwan pada tahun 1990 tentang Perubahan Iklim mendesak suatu kesepakatan global untuk mengatasi perubahan iklim. Berbagai pakta pun diteken. Hasilnya adalah beberapa kesimpulan tentang pengembangan energi-energi alternatif (salah satunya seperti yang digadang-gadang oleh Jacob Moore di film Wall Street diatas) dan satu hal lain, yakni kredit karbon.
          p Dari majalah National Geographic Indonesia edisi Maret 2007 yang saya baca, kredit karbon adalah jual-beli sertifikat pengurangan emisi atau CER (Certified Emission Reduction). Jual beli? Yup. Melalui perdagangan karbon, negara-negara industri sebagai penyumbang terbesar emisi gas karbondioksida bisa membeli nilai karbon, sehingga "dosa-dosa lingkungan" negara-negara pembeli nilai karbon tersebut dianggap berkurang atau impas. Apakah memang sesederhana itu? Apakah semua bisa diselesaikan dengan uang? 
          p Kredit karbon kini menjadi komoditas bisnis dadakan. FIFA, federasi sepak bola dunia, membeli beberapa kredit karbon sehubungan dengan pelaksanaan piala Dunia 2006 lalu. Kelompok musik Rolling Stones dan beberapa band lainnya membeli kredit karbon sebagai kompensasi emisi gas rumah kaca yang mereka buang dalam tur-tur mereka. Disisi lain, Paramount, studio film Hollywood kenamaan juga membeli kredit karbon atas setiap emisi yang mereka keluarkan selama proses pembuatan film kontroversial tentang pemanasan global, An Inconvenient Truth (2006).
          p Ketika pakta-pakta pengembangan energi alternatif dan kepentingan ekonomi berpadu, apa hasilnya? Jawabnya: Pertemuan Iklim PBB di Kopenhagen, Denmark. Pertemuan di Kopenhagen dianggap gagal dari sisi durasi, kekacauan, kebingungan dan analisa final. Kepentingan politis masing-masing negara dalam menangani ketersediaan energi untuk diri mereka masing-masing mengacaukan kesempatan untuk menyelesaikan perbedaan dan menyetujui satu perjanjian mengikat demi menghindari bencana-bencana lanjutan akibat perubahan iklim. Maka wajar jika ada skeptisme disini. Energi alternatif dan perdagangan karbon yang bersinggungan dengan kepentingan  finansial dan pencarian profit memang seperti dua sisi koin yang tidak bisa ditiadakan satu sama lain.
          p Seperti yang diungkapkan Gordon Gekko (Michael Douglas) saat bertemu Jacob Moore di kereta bawah tanah. Jacob Moore mengungkapkan bahwa  teknologi energi yang ramah lingkungan sudah menjadi obsesinya: "I’ve been specializing more and more in clean tech. It’s sort of a passion now."
          p Gordon Gekko membalas dengan berkata: "Green energy. Clean tech. That’s smart. That’s the next bubble (economy). What are you, some kind of energy freedom-fighter? So what about money, Jake? You like her? She lies there in bed at night with you, looking at you, one eye open. And she’s jealous. And if you don’t pay close attention, you wake up in the morning, and she might be gone forever. So marry it instead, right?"
          p Masih dengan idealisme yang tidak padam, Jacob Moore mempertahankan pendapatnya: "You know that fusion just might work. I know it sounds like Star Wars, but if it weren’t for crazy people who thought these crazy things (including this alternative energy), then where would we be in this world? Nowhere. They might just solve this thing. It could change the world." Banyak insight yang bisa kita ambil dari film ini.


        form#mc-embedded-subscribe-form.validate(style='border: 1px dashed #000000; background-color:#eeeeee; padding: 25px;', action='', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          label(for='mce-EMAIL')

            strong Inspirasi Tulisan
            br
            | Impresi film Wall Street: Money Never Sleeps yang saya tonton ulang beberapa malam yang lalu rupanya masih membekas. Bagi yang sudah pernah nonton, pastinya sependapat. Film yang berkisah tentang geliat kehidupan para pialang di Wall Street ini merupakan sekuel dari film berjudul sama keluaran tahun 1987. Agak sedikit berbeda dengan ulasan-ulasan tentang film ini di blog-blog lain, pada postingan ini saya tertarik untuk membicarakan konsep energi alternatif yang juga diangkat sebagai salah satu background story di film ini.
          br
         
        a(href='../index.html', title='Kembali ke Daftar Tulisan')
          i.icon-reply
            p
          |  Kembali ke Daftar Tulisan 
          
    .footer
      .site
        .copyright(<p='')
          | 2015 | &nbsp;
          a(href="http://echo-man.github.io") Gema&nbsp;Buj 
          ||&nbsp;Sublime Text
          br
          | Menulis adalah untuk keabadian
          img(src='', alt='')